@font-face {
    font-family: hand;
    size-adjust: 100%;
    src: url('./public/handwriting-black-draft_DEMO.otf');
}

@font-face {
    font-family: norse;
    font-stretch: 50%;
    src: url('./public/Norse-Bold.otf');
}

:root {
    --containersize: 50rem;
    --boxsize: calc(var(--containersize) * 0.33) --font1: 'norse';
    font-size: 20;
    font-family: var(--font1);
    background-color: var(--lightgray2);
    --darkgray: #292F36;
    --medgray: #5c6166;
    --lightgray: #8F9296;
    --lightgray2: #C2C4C6;
    --bright: #F5F5F5;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img2 {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 15px;
}



.img2text {
    position: relative;
    max-width: 160px;
    bottom: 0%;
}

.column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgray);
    border-radius: 5%;
    border: 1px solid black;
}

.column> {
    max-width: 400px;
    min-height: auto;
}

.form-card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: var(--containersize);
    height: 300px;
    background-color: var(--lightgray2);
    box-shadow: 0px 2px 3px var(--darkgray);
}



.form-card>div {
    font-family: 'Times New Roman', Times, serif;
    min-width: var(--boxsize);
    flex-wrap: wrap;
    max-height: 150px;
    box-shadow: 0px 2px 3px var(--darkgray);
    margin: 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 5px;
}

.btn-signup {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    background-color: var(--bright);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    border: 1px solid black;
}

.btn-signup:hover {
    background-color: red;
    transform: scale(1.1);
}

.form-card>div:hover {
    box-shadow: 0 2px 5px 0 var(--darkgray);
}

.form-card>div>input {
    padding: 10px;
    width: 150px;
    height: 15px;
}

.form-card>div>input:focus {
    outline-color: rgb(0, 0, 0);
}

.split {
    display: flex;
    gap: 0.5rem;
}

.header {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.bannerSize {
    background-image: url(./public/img1.png);
    border: 1px solid black;
    width: 500px;
    height: auto;
    border-radius: 5%;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}