@font-face {
    font-family: hand;

    size-adjust: 100%;
    src: url('./public/handwriting-black-draft_DEMO.otf');
}

@font-face {
    font-family: norse;
    font-stretch: 50%;
    src: url('./public/Norse-Bold.otf');
}

:root {
    --containersize: 50rem;
    --boxsize: calc(var(--containersize) * 0.33) --font1: 'norse';
    font-size: 20;
    font-family: var(--font1);
    background-color: var(--lightgray2);
    --darkgray: #292F36;
    --medgray: #5c6166;
    --lightgray: #8F9296;
    --lightgray2: #C2C4C6;
    --bright: #F5F5F5;
}


.img2 {
    position: absolute;
    max-width: 160px;
    bottom: 0%;
    left: 2%;
}

.img2text {
    position: absolute;
    max-width: 160px;
    bottom: 0%;
    right: 5%;
}

.column {
    background-color: var(--lightgray);
    border-radius: 5%;
    border: 1px solid black;
}

.form-card {

    display: flex;
    max-width: var(--containersize);
    height: 500px;
    background-color: var(--lightgray2);
    box-shadow: 0px 2px 3px var(--darkgray);
}



.form-card>div {
    min-width: var(--boxsize);
    flex-wrap: wrap;
    max-height: 150px;
    box-shadow: 0px 2px 3px var(--darkgray);
    margin: 5px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 5px;
}

.btn-signup {
    background-color: var(--bright);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    border: 1px solid black;
}

.form-card>div:hover {
    box-shadow: 0 2px 5px 0 var(--darkgray);
}

.form-card>div>input {
    padding: 10px;
    width: 150px;
    height: 15px;
}

.form-card>div>input:focus {
    outline-color: rgb(0, 0, 0);
}

.split {
    display: flex;
    gap: 0.5rem;
}



.bannerSize {
    border: 1px solid black;
    width: 30rem;
    border-radius: 5%;
}